.mainCont {
  background-image:
    linear-gradient(rgba(40, 158, 138, 0.8), rgba(41, 150, 132, 0.8)),
    url("E:\VIZSGAREMEK\LibraryCompanion\src\assets\library.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 45rem;
  margin-top: 0;
  font-family: "Playfair Display", Georgia, serif;
}

.textCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: black;
  padding-top: 8rem;
  margin: 2rem;
  margin-top: 0;
}

h1 {

margin: 0;
  font-size: 5rem;
}

p {
  font-family: "Source Sans 3", system-ui, sans-serif;
  font-size: 1.3rem;
  color: rgb(8, 8, 8);
  opacity: 60%;
}

span {
  color: yellow;
}

.filterCont {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    padding-left: 2rem;
}

input {
    width: 25%;
    border-radius: 12px;
    border: 1px solid rgb(1, 44, 1);
    padding: 1.2rem 1.2rem 1.2rem 3rem;
    background: rgb(35, 36, 35);
}

.searchButton {
    width: 10%;
    background: rgb(146, 146, 14);
}

button:hover {
  transform: scale(1.05);
}

.badge {
  color: rgb(255, 255, 0);
  font-size: 0.8rem;
  opacity: 100%;
  font-weight: 600;
}

.badgeCont {
  display: flex;
  border: 1px solid rgb(175, 175, 14);
  width: auto;
  width: 10rem;
  text-align: center;
  background-color: rgb(112, 112, 28);
  border-radius: 16px;
  opacity: 60%;
  height: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.badgeCont:hover {
  background-color: rgba(41, 136, 120, 0.7);
}

.informationCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  justify-content: flex-start;
  margin-left: 2rem;
  color: black;
  gap: 1.5rem;
}

.information {
  font-size: 1rem;
  opacity: 100%;
  font-weight: 100;
}